body {
    padding-top: 70px;
    min-width: 480px;
}

tr.disabled {
    color: gainsboro;
}

.table-hover>tbody>tr:hover {
    cursor: pointer;
}

input[readonly] {
    background-color: transparent !important;
    border: 0;
    box-shadow: none;
    padding-left: 0;
}

.pagination {
    margin-top: 5px;
    margin-bottom: 5px;
}